.atout-droite .stroke-text{
    color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:var(--bleu);
  }

.Atouts{
    display: flex;
    justify-content: space-between;
}
.atout-gauche{
    max-width: 600px;
    height: 500px;
    display: flex;
    margin-left: 2%;
    padding-bottom: 2%;
    padding-top:2% ;

}
.block1 img{
    width: 250px;
    height: 500px;
    background: #8f8585;
    object-fit: cover;
}
.block2{
    margin-left: 3%;
}
.block2 img{
    width:330px;
    height:250px;
    object-fit: cover;
}
.block3 {
    margin-top: 45%;
    margin-left: -55%;
}
.block3 img{
    width:150px ;
    height: 226px;
    object-fit: cover;
}
.block4{
    margin-top: 45%;
    margin-left: 4%;
}
.block4 img{
    width:160px ;
    height: 230px; 
    object-fit: cover;
}


.atout-droite{
  
    width: 50%;
    height: 500px;
    margin-right: 2%;
}
.atout-droite h1{
    
    text-align: center;
 color: white;
 font-size: 40px;   
}
.atout-droite span{

    font-size: 60px;
    font-weight: 300;
    color: white;   
}
 

.atout-droite ul{
    list-style: none;
    color: white;
}
.atout-droite ul li{
    list-style: none;
    font-size: 30px;
    margin-top: 1%;
}
.atout-droite  img {
    width: 20px;
}

.partenaires{
    color: gray;
    display: flex;
   margin-left: 30%;

}
 .atout-droite p{
    text-align: center;
    color: gray;
    font-size: 20px;
  

}
.partenaires li {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin-left: 12%;
}
.partenaires li img {
    text-align: center;
   width: 20px;
   height: 20px;
}






